.time-picker {
  width: max-content;
  position: relative;
}
.time-picker * {
  box-sizing: border-box;
}
.time-picker-data-show {
  max-width: 100%;
  position: relative;
}
.time-picker-input {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 30px 0 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: rgba(0, 0, 0, 0.8);
}
.time-picker-popup {
  --sureHeight: 25px;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  user-select: none;
  transform: scale(0);
  transition: all 0.2s;
  transition-delay: 50ms;
  transform-origin: center center;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
}
.animation {
  transform: scale(1);
}
.unanimation {
  transform: scale(0);
}
.time-picker-input-clear {
  display: none;
  width: 15px;
  height: 15px;
  line-height: 13px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 12px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}
.time-picker-input-clear:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.clear-button-show {
  display: block;
}
.time-picker-popup-main-sure {
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: var(--sureHeight);
  line-height: var(--sureHeight);
  text-align: center;
  padding: 0 15px;
  border-radius: 20px;
  background: rgba(30, 144, 255, 1);
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
