.date-picker-change {
  cursor: pointer;
  width: 22px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: rgba(0, 0, 0, 0.3);
}
.date-picker-change:hover {
  color: rgba(0, 0, 0, 1);
}
.date-picker-title-left,
.date-picker-title-right {
  display: flex;
  position: absolute;
  top: 0;
}
.date-picker-title-left {
  left: 20px;
}
.date-picker-title-right {
  right: 20px;
}
.before-month {
  margin-left: 10px;
}
.next-month {
  margin-right: 10px;
}
